{% extends '../base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}
{% load i18n_switcher %}
{% block head_title %}{% trans 'Kazakh Open Corpora' %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block header %}
<form method="GET" action="{% url 'index' %}" id="formsearch" class="form-inline mr-auto ml-5">
    <div class="form-group">
        <input type="text" id="source" name="source" class="form-control mb-2 mr-sm-2 bord" placeholder="{% trans 'e.g.:' %} Қазақстан Республикасы" style="font-size: 18px;" value="{% if source %}{{ source }}{% endif %}" required />
    </div>
    <input type="text" id="filters" name="filters" style="display: none;" />
    <div class="form-group">
        <button class="btn btn-primary mb-2 mr-sm-1 bord" id="Search">{% trans 'Search' %}</button>
    </div>
</form>
{% endblock %}
{% block content %}
<div class="secmodal">
    <div class="modal fade secmodal1" id="token" tabindex="-1" role="dialog" aria-labelledby="token" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="token">{% trans 'Tokenization' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <code id="withtoken" style="color: black;">
              </code>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
            <button type="button" onclick="sendforgetfile('token');" class="btn btn-primary">{% trans 'Download' %}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade secmodal2" id="lemmas" tabindex="-1" role="dialog" aria-labelledby="lemmas" aria-hidden="true">
      <div class="modal-dialog" >
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="lemmas">{% trans 'Lemmatization' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <code id="withlemmas" style="color: black;">
            </code>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
            <button type="button" onclick="sendforgetfile('lemmas');" class="btn btn-primary">{% trans 'Download' %}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade secmodal3" id="morph" tabindex="-1" role="dialog" aria-labelledby="morph" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="morph">{% trans 'Morphological analysis' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <code id="withmorph" style="color: black;">
            </code>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
            <button type="button" onclick="sendforgetfile('morphanaliz');" class="btn btn-primary">{% trans 'Download' %}</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="sectionright">
    <b style="margin-top: 0; margin-left: 50px; font-size: 28px;">{% trans 'Filters' %}</b>
    <form style="margin-top: 20px;">
        <div class="cd-filter-block">
            <h4>{% trans 'Genres' %}</h4>
            <div class="cd-filter-content">
                <div class="cd-select cd-filters">
                    <select class="filter dropdown-toggle" style="font-size: 18px;" id="selectThis">
                        <option value="default" selected disabled style="font-weight: bold;">{% trans 'Sections' %}</option>
                        {% for genre in genres %}  
                            <option value="{{genre.pk}}">{% if check_kk %}{{ genre.kz }}{% elif check_en %}{{ genre.en }}{% else %}{{ genre.rus }}{% endif %}</option> 
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                    {% for genre in genres %}								
                        <div id="{{genre.pk}}" class="border bord1 bg-primary text-white" style="display: none;">
                            {% if check_kk %}{{ genre.kz }}{% elif check_en %}{{ genre.en }}{% else %}{{ genre.rus }}{% endif %}
                            <button name="close{{genre.pk}}" type="button" class="btn close ml-2" aria-label="Close">
                              <span aria-hidden="true">
                                  &times;
                                </span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div> 
        </div>
        <div class="cd-filter-block">
            <h4>NLP</h4>
            <ul class="cd-filter-content cd-filters list">
              <li>
                <input name="tokenizacia" id="checkbox1" class="filter" data-filter=".checkbox-label" type="checkbox" >
                <label class="checkbox-label" for="checkbox1">{% trans 'Tokenization' %}</label>
              </li>
              <li>
                <input name="lemmatizacia" id="checkbox2" class="filter" data-filter=".checkbox-label" type="checkbox" >
                <label class="checkbox-label" for="checkbox2">{% trans 'Lemmatization' %}</label>
              </li>
              <li>
                <input name="morphanaliz" id="checkbox3" class="filter" data-filter=".checkbox-label" type="checkbox" >
                <label class="checkbox-label" for="checkbox3">{% trans 'Morphological analysis' %}</label>
              </li>
            </ul> 
          </div>  
    </form>
</div>
<div class="sectionbody">
    <div id ="container">
        {% if null %}
        <!--//todo-->
        {% else %}
            {% if results %}
                <p>{% blocktrans %} About {{countitem}} results ({{dttime}} seconds.){% endblocktrans %}</p>
                {{ results | safe }}
            {% else %}
                <h3 class="warning">{% trans 'Oops. Sorry Corpora Not Found!!!' %}</h3>
            {% endif %}
        {% endif %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a class="pagination-action" href="?source={{ source }}&filters={{ filters }}&page=1">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> 
                </a>
                <a class="pagination-action" href="?source={{ source }}&filters={{ filters }}&page={{ page.previous_page_number }}">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <span class="pagination-number pagination-current">{{ num }}</span>
                {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                    <a class="pagination-number" href="?source={{ source }}&filters={{ filters }}&page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a class="pagination-action" href="?source={{ source }}&filters={{ filters }}&page={{ page_obj.next_page_number }}">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <a class="pagination-action" href="?source={{ source }}&filters={{ filters }}&page={{ page_obj.paginator.num_pages }}">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% block extra_body %}
<script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'main/tmp/remove.js' %}"></script>
{% if filterSid %}
<script type="text/javascript">
    "{% for id, val in filterSid.items %}"
    $("div#{{ id }}").css({display : "inline-block"});
    selectedshtml.push("{{ val }}");
    $("option[value={{ id }}]").attr('disabled', true);
    "{% endfor %}"
</script>
{% endif %}
{% endblock %}
{% endblock %}