
			body{
		        display: flex;
		        flex-direction: column;
		        background-color: white;
		        font-family: times new roman;
		    }
		    .secmodal{
		      	width: 73%;
		      	top: 15%;
		    }
		    .secmodal1{
		      	margin-left: 2%;
		      	width: 31%;
		    }
		    .secmodal2{
		      	margin-left: 35%;
		      	width: 31%;
		    }
		    .secmodal3{
		      	margin-left: 68%;
		      	width: 31%;
		    }
		    .bord{border-bottom-left-radius: 25px; border-bottom-right-radius: 25px; border-top-left-radius: 25px; border-top-right-radius: 25px;
		    }
		    .bord1{border-radius: 10px; 
		        padding: 5px 8px 5px 8px;
		    }
		    .sectionheader{
		        position:-webkit-sticky;
		        position: sticky; 
		        top: 0; 
		        background: white;
		        border-bottom: 1px solid #E4E4E4;
		        z-index: 2;
		    }
		    .sectionright{
		        position: fixed; 
		        margin-left: 75%; 
		        padding: 15px;
		        z-index: 2;
		    }
		    .sectionbody{
		        position: relative; 
		        width: 73%;
		        z-index: 1;
		    }
		    .padhead{
		        padding: 15px 15px 10px 100px;
		    }
		    #container {
				padding-left: 15%;
				width: 85%;
				padding-bottom: 20px;
			}
			#container p:first-child {
				margin-top: 10px;
			}
			.result {
				margin-top: 15px;
				padding: 15px;
				border: 1px solid #E4E4E4;
				border-radius: 15px;
			}
			.result:hover {
				box-shadow: inset 0px 0px 7px rgba(0,0,0,0.3);
			}

			.result a:first-child {
				font-size: 18px;
				text-decoration: none;
				color: #1A0DAB;
			}

			.result a:first-child:visited {
				color: #660099;
			}

			.result a:first-child:hover {
				text-decoration: underline;
			}

			.result p:nth-child(3) { /*link*/
				display: inline-block;
				color: #006621;
				font-size: 14px;
			}

			.result a:nth-child(4) { /*website title*/
				display: inline-block;
				text-decoration: none;
				color: #777777;
			}

			.result a:nth-child(4):hover {
				color: black;
			}

			.result p {
				margin: 2px;
			}
			.result p:nth-child(5) {
				cursor: pointer;
			}
			.result:nth-child(12) {
				padding-bottom: 18px;
				border-bottom: 1px solid #E4E4E4;
			}

			.result:nth-child(6) p:nth-child(2) { /*special case for 4th result as link displays inline with short title */
				display: block;
			/*margin-bottom: -13px;*/
			}

			.result:nth-child(6) p:nth-child(4) { /*fix line spacing for above special case */
				margin-top: -13px;
			}

			/* ----------------
			   RELATED SEARCHES
			 ---------------- */

			#related > p {
				font-size: 18px;
				margin-bottom: 0;
			}

			#related table {
				width: 450px; /*width between columns */
			}
			#related a {
				text-decoration: none;
				color: #1A0DAB;
			}

			#related a:hover {
				text-decoration: underline;
			}

			#related table {
				padding-top: 10px; /*equal top and bottom padding */
				padding-bottom: 20px;
				/*font-weight: bold;*/
			}

			/* ----------------
			   PAGE NUMBERS
			 ---------------- */

			#pages {
				width: 500px;
				border-top: 1px solid #E4E4E4;
			}

			#pages img {
				display: block;
				margin: auto;
				padding-top: 30px;
			}

			#numbers {
				margin-top: 3px;
				margin-left: 135px;
			}

			#pages a {
				display: inline-block;

				text-decoration: none;
				color: #4285F4;
				margin-right: 8.5px; /*space between numbers */
				padding-bottom: 10px;
			}

			#pages a:first-child {
				color: black;
			}


			#pages a:nth-child(11) { 
				margin-left: 50px; /*space before next */
			}

			#pages a:hover {
				text-decoration: underline;
			}
			